.footer {
  width: 100%;
  height: 500px;
  display: inline-block;
  background-color: #e2dddd;
}
.main_footer {
  position: relative;
  width: 96%;
  height: 100%;
  background-color: blue;
  margin: auto auto;
}
.main_footer_left {
  margin-right: 30px;
  position: absolute;
  width: 42.7%;
  height: 100%;
  background-color: white;
}
.main_footer_right {
  position: absolute;
  right: 0;
  width: 57%;
  height: 100%;
}
p.conten_1 {
  color: red;
  font-size: 28px;
  margin: 10px 0px 0px 136px;
  font-weight: bold;
}
p.conten_2 {
  font-size: 20px;
  margin: 18px;
}
span.oke {
  font-weight: bold;
}
a.lh {
  font-weight: 700;
  text-decoration: none;
  color: blue;
}
a.dc {
  color: red;
  text-decoration: none;
}
span.time {
  font-weight: bold;
}

p.conten_3 {
  color: red;
  font-size: 28px;
  margin: 10px 0px 0px 216px;
  font-weight: bold;
}
iframe {
  width: 100%;
  height: 500px;
}
.main_footer_end {
  margin-top: 20px;
  width: 100%;
  height: 200px;
}

.main_footer_end1 {
  width: 70%;
  height: 200px;
  margin: auto;
}
p.end1_p {
  font-size: 21px;
  margin: 26px 0px 20px 98px;
  padding-top: 60px;
  color: #ccc;
}

a.end_a {
  text-decoration: none;
  color: #ccc;
  padding: 26px;
}
